.mainContent {
  // background-color: #dff0ff;
  // padding: 1em;
  border-radius: 8px;
  padding: 1em;
  margin: 0em;
  color: #f37239;

  .userDetails {
    // padding: 2em 3em;
    text-align: center;
    font-size: 0.9em;
  }

  .searchBox {
    border-radius: 30px;
    background-color: #fff;
    font-size: 0.8em;
    border-color: #fff;
  }

  .btnAddRef {
    float: right;
    border-radius: 30px;
    font-size: 0.8em;
  }

  .statusIcon {
    padding-right: 0.5em;
    color: #000;
  }

  .titleTxt {
    font-weight: 600;
  }
}

.main {
  padding-left: 2em;
}

.add-files {
  border-radius: 50%;

}

.form-control {
  border-radius: 20px;
  font-size: 0.8em;
}

.add-gym-btn {
  position: absolute;
  right: 2em;
  width: 10%;
}

.add-cate {
  background: blue;
}

.upload-card {
  text-align: center;
  width: 95%;
}

.imgBox {
  .card-img-top {
    width: 60px;
  }
}

#uploadImage {
  position: absolute;
  cursor: pointer;
  margin-left: 12em;
  margin-top: 2em;
  opacity: 0;
}

.card {
  border: 0px;
}

.card-body {
  p {
    font-size: 80% !important;
  }
}

#addAgentModal {
  .modal-body {
    // text-align: center;
    padding: 5%;
    padding-top: 0% !important;
  }

  .row {
    padding: 1%;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 700px !important;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .mainContent {
    .userDetails {
      margin-top: 1em;
    }

    .titleTxt {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .main {
    .assginTask {
      float: right;
    }
  }
}

.info {
  position: absolute;
  right: 30px;
  border: 1px solid;
  border-radius: 50%;
  padding: 2%;
}

.doc {
  box-shadow: 0px 4px 8px 0px #757575;
}

.dashCard {

  font-size: 0.9em;
  // border-radius: 10px;
  background-color: #fff;
  padding: 1em;
  color: black;
  height: 100%;
  border-radius: 15px;

  .dashboardTop {
    padding: 1em;
    // border-radius: 10px;
    // background-color: #fff;

    .roleTxt {
      font-size: 0.8em;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }

    .countTxt {
      font-weight: bold;
    }
  }
}

#mapuserModal {
  .modal-body {
    // text-align: center;
    padding: 5%;
    padding-top: 0% !important;
  }

  .row {
    padding: 1%;
  }

  input,
  select,
  textarea {
    border: none;
  }
}

.feedmodalImg {
  width: 40%;
  border-radius: 20px;
}

#mapCatModal {
  .modal-body {
    // text-align: center;
    padding: 5%;
    padding-top: 0% !important;
  }

  .row {
    padding: 1%;
  }

  input,
  select,
  textarea {
    border: none;
  }
}

#uploadModal {
  .modal-body {
    // text-align: center;
    padding: 5%;
    padding-top: 0% !important;
  }

  .row {
    padding: 1%;
  }

  input,
  select,
  textarea {
    border: none;
  }
}

.userCount {
  display: flex;
}

.userCount p {
  padding-left: 2%;
}

.userCount a {
  padding-left: 2%;
}

.nav-link {
  color: black;
  font-weight: 500
}

.nav-link:hover {
  color: #3b5998;
}


.files {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

a.active {
  border-bottom: 2px solid #fff;
}

.nav-link:hover {
  color: #3b5998;
}

.nav-pills .nav-link.active {
  color: #3b5998;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  font-weight: 600;
  border-bottom: 2px solid #3b5998;
}

@media (min-width: 320px) and (max-width: 568px) {
  .mainContent {
    .userDetails {
      margin-top: 1em;
    }

    .titleTxt {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .main {
    .assginTask {
      float: right;
    }
  }
}

.col-lg-6 {
  padding: 2%;
}

@media (min-width: 280px) and (max-width: 653px) {
  .mainContent {
    .userDetails {
      margin-top: 1em;
    }

    .titleTxt {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .main {
    .assginTask {
      float: right;
    }
  }
}

.download {
  color: black;
  font-size: 25px;
}

tbody {
  border: 1px solid #ced4da;
  background-color: #f1f1ff;
  border-radius: 10px;
  padding: 1em;
}

.table,
td {
  border-bottom: 1px solid #dee2e6;
}
