


body {
    font-family: 'Myriad Pro Regular' !important;
    background: #f1f1ff;
    overflow-x: hidden;
}
.logo {
    width: auto;
    height: 60px;
  }
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: fixed;
    margin-left: 410px;
    font-family: 'Myriad Pro Regular' !important;
  }
  #sidebar{
    //   position: fixed;
      font-family: 'Myriad Pro Light' !important;
    //   margin-left: 410px;
  }

  .content{
      position: relative;
    //   margin-left: 250px;
      transition: left .3s ease-in-out, right .3s ease-in-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .bg-light {
    background-color: lightyellow!important;
}
#page-content-wrapper{
    background-color: lightblue;
}

hr{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

///////////////////////////// ***************************** \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s
}

.navbar {
    padding: 15px 15px;
    background: #f1f1ff !important;
    border: none;
    border-radius: 0;
    position: fixed;
    width: 80%;
    z-index: 10;
    font-family: 'Myriad Pro Light' !important;
    // margin-left: 15.6em;
    // width: 80%;
    // z-index: 10;
    // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-image: linear-gradient(to right, white, white);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: black;
    transition: all 0.3s;
    height: 100%;
    // z-index: 10;
    // position: fixed;
    background-color: white;
}

#sidebar.active {
    margin-left: -250px !important;
    transition: all 0.3s
}

#content-togg.active {
    margin-left: 0px;
    width: 100%;
    transition: all 0.3s;

    .navbar{
        width: 100%;
    }
}

// .open{
//     margin-left: 15.5em;
// }

// .not-open{
//     margin-left: 0em;
// }

// #sidebar{
//     .content-wrapper{
//         margin-left: 16em;
//     }
// }

#sidebar .sidebar-header {
    padding: 20px;
    position: fixed;
    // background-image: linear-gradient(#f05043, #f37239); ;
}

#sidebar ul.components {
    padding: 20px 0px;
}

#sidebar ul p {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #fff
}

#sidebar ul li a {
    padding: 0.9em 2.5em;
    font-size: 0.9em;
    display: block
}

#sidebar ul li a:hover {
    color: black;
    background: #f1f1ff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #318fb5
}

a[data-toggle="collapse"] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #318fb5;
}

ul.CTAs {
    padding: 20px
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px
}

a.download,
a.download:hover {
    background: #318fb5;
    color: #fff
}

.content {
    width: 100%;
    // padding: 20px;
    min-height: 100vh;
    transition: all 0.3s
}

.content-wrapper {
    // padding: 15px;
    background-color: #f1f1ff;
    padding-top: 5em !important;
    height: 100% !important;
}

.content-wrapper{
    // margin-left: 15.5em;
}

.searchBox{
  margin-bottom: 0.5em !important;
  padding-left: 25px;
}
.searchIcon{
  position: absolute;
  top: 0.5em;
  left:20px
}

#sidebarCollapse {
    background-color: #201f25 !important;
    color: #f1f1ff;
    border-color: transparent;
}

#sidebarCollapseclose{
    background-color: #f1f1ff !important;
    color: #f37239;
    border-color: transparent;
}

.dropdown-menu{
    top: 3em !important;
    right: 3em !important;
    left: unset;
}

.input-group>.input-group-prepend>.input-group-text {
    font-size: 0.7em;
    border-radius: 2em 0em 0em 2em;
    font-weight: 700;
    background-color: transparent;
}

.addGym {
    border-radius: 0em 2em 2em 0em !important;
}

@media(maz-width:768px) {
    #sidebar {
        margin-left: -250px
    }

    #sidebar.active {
        margin-left: 0px
    }

    #sidebarCollapse span {
        display: none
    }
    #sidebarCollapseclose span{
        display: none;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 600px !important;
    }
}



.ocean { 
    height: 1%;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -100px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -120px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
  





// //