
 <button type="button" id="sidebarCollapse" (click)="sideNavService.toggleSideNav()" class="btn btn-info"> <i class="fa fa-align-justify"></i>
 </button>
 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
     aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
 </button> -->

<!-- <img class="hamburger" src="{{commonservice.base_url}}/assets/menu-icons/menu.png" (click)="sideNavService.toggleSideNav()"> -->

<!-- <img class="appLogo" src="{{commonservice.base_url}}/assets/app-logo.png"> -->
<span class="urban">MTA Architects</span>
