<div>
    <h1>Privacy Policy</h1>

    <p>Please read the following to learn about the practice of collection, use, disclosure and dissemination of information by Instakart Services Private Limited having its registered office at 25/44, Vembuli Subedar Street, Alandur, Guindy 600016, India (“We” or “us”) while the user/you (“you”/”your”) use ‘MTA CONNECT’ application (“App”) through your mobile device , or when you otherwise interact with us on the App.</p>


    <p>Please read the following to learn about the practice of collection, use, disclosure and dissemination of information by Instakart Services Private Limited having its registered office at 25/44, Vembuli Subedar Street, Alandur, Guindy 600016, India (“We” or “us”) while the user/you (“you”/”your”) use ‘MTA CONNECT’ application (“App”) through your mobile device , or when you otherwise interact with us on the App.</p>

    <p>Please note that this privacy policy is subject to change at any time. Any change made to the policy will be notified by change in the date mentioned in the beginning of this policy. Please review this policy whenever you use our App to stay informed and updated about our practices in relation to information.</p>

    <p>Collection of personally identifiable information and other information
        We collect the information you provide to us while interacting with us at various instances. This information is generally in the nature of, inter alia, your name, age, gender, phone number, email address, address proof, Aadhaar number, Permanent Account Number, driver license, bank details, and any other information you choose to provide.
        </p>


    <p>
        When you access or use our App, we collect the following:
    </p>

    <p>
        Information about your use of our App, including but not limited to your IP address, your access times, the area/ region you are accessing our App from (demographic data).
    </p>

    <p>Information about the device you use to access our App including but not limited to your mobile device’s unique device ID, your mobile operating system.
        We use various technologies to collect information and this may include sending Cookies to your mobile device. “Cookies” are small data files stored in the memory of your device that help us in our internal research and improve our App and your experience.
        
        We may also obtain information from other sources. We may collect information from the app stores when you download or update our App.
        
        Use of Information
        We may use the information collected for the following purposes:
        
        Provide, maintain and improve our App and develop new features.
        Send technical notices, updates, alerts, support and other communication to you.
        Monitor and analyze trends, usage and activities on our App.
        For handling orders assignments and other intended activities on the App.
        Disclosure and Sharing of Information collected
        We may share the information we collect, as per our discretion, for the following purposes and in the following manner:
        
        With third parties like vendors, consultants and other service providers who work for us strictly on a ‘need to know’ basis.
        With certain third parties for tracking usage and analysing data in order to enhance the performance of the App.
        With third parties like customers, delivery agents for fulfilment of orders, customer service and user tracking.
        With affiliates/business affiliates for co-branded, marketing and other services, improvement thereof, as part of the App.
        With our parent company, subsidiaries and affiliates.
        In response to a request for information, if we reasonably believe that disclosure is in accordance with applicable law.
        With our affiliates /business affiliates in order to detect and prevent potential illegal acts.
        In good faith belief that such disclosure is reasonably necessary to respond to summons, court orders, or other legal processes.
        With law enforcement offices, third party rights owners or others in good faith belief that such disclosure is reasonably necessary.
        We/our affiliates will share/sell some or all the information collected in accordance with this policy with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity, or should reorganization or amalgamation or restructuring of business occur, without any further consent from you. Should such a transaction occur then other business entity (or the new combined entity) will be required to follow this privacy policy with respect to the information collected pursuant to this policy.
        Links to Other Sites
        There may be links to third party sites while you are logged into our App. These sites may collect personally identifiable information/ other information about you/ your device or activities. We are not responsible for the privacy practices or the content of such linked sites.
        
        Advertisements
        We may allow third parties to serve advertisements while you are using our App. These entities may use various technologies to collect information about your use of our App. Information pertaining to you collected by the application platform or any other third party will be governed by such platform’s privacy policies which are not under our control. As stated herein above, only the information that we collect or have access to as per this policy will be governed by this privacy policy.
        
        Updating your personal information
        We provide mechanisms for updating and correcting your personal information for the App. You may modify or remove any of your personal information at any time by logging into your account and accessing [info@multitechcorp.in].
        
        We will retain the information collected in accordance with this policy as long as you use our App and for a reasonable time thereafter. Please note that some or all information collected in the manner provided in this policy may be required in order for proper and optimal functioning of the App.
        Security
        We have stringent security measures in place to protect the loss, misuse, and alteration of the information that are under our control. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access. We endeavor to provide reasonable security for information we process and maintain, however, we do not guarantee that such security system can prevent all potential security breaches; you transmit such information to us at your own risk.
        
        Your choices
        If you do not agree with our policy and wish to prevent us from collecting any personal information or other data, you may uninstall the App.
        
        Grievance Officer
        In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:
        
        Please send any comments or questions, including all enquiries to the respective Grievance Officer (as applicable) as per the following contact details:
        
        D. Umashankar (ceo@multitechcorp.in) – For Tirupur
        
        B. Ramesh (b_ramesharc@yahoo.com) – for Chennai & Bangalore
        </p>
        
        <b>Contact us</b>
        <p>
        In case you have any queries about this Privacy Policy, please reach out to us at [info@multitechcorp.in & info@mtaarcdesigns.com].
        </p>

        </div>