<div class="container" style="height: 100%;">
    <div class="main" style="height: 100%;">


        <div class="mainContent light-font" style="height: 100%;">
            <div class="row full-width" style="padding-left:2%;font-size: 16px;" >
                <p *ngIf="categoryMain" (click)="backClicked(true)"><i class="fa fa-long-arrow-left "  aria-hidden="true"></i> BACK</p>
                <p *ngIf="userMain" (click)="backClicked(false)"><i class="fa fa-long-arrow-left "  aria-hidden="true"></i> BACK</p>
            </div>
            <div class="row full-width" >
             <div class="col-md-12 semiBold-font" *ngIf="userMain">
                <p>Category - <span class="secondry-color">{{selectedCategory.category_name}}</span></p>
             </div>
                <div class="row full-width"  style="text-align:left">
                    <div class="col-md-6">
                    <div>
                    <img style="width: 50px;height: 50px;" src="{{http.imageURL}}{{projectDetails.project_img}}" onerror="this.src='assets/image/user.svg'"
                        class="float-left rounded-circle">
                </div>
                <div style="padding-left:6em">
                    <div  class="semiBold-font">{{projectDetails.project_name}}</div>
                    <p class="light-font"><i class="fa fa-map-marker secondry-color"></i>  {{projectDetails.address}},{{projectDetails.city}},{{projectDetails.state}}</p>
                    <!-- <div class="userCount">
                        <a href="" data-toggle="modal" (click)="mapusers()" data-target="#mapuserModal">{{projectDetails.userCount}} Users</a>
                    </div> -->
                </div>
            </div>


                <div class="col-sm-6" style="text-align:right" *ngIf="categoryMain">

                    <button type="button" class="btn btn-bg btn-primary semiBold-font" style="color:white" data-toggle="modal" data-target="#addCategoryModal"
                    (click)="addModal()">Add / Map Category</button>                    <div>
                    </div>
                </div>
                <div class="col-sm-6"  *ngIf="userMain">
                    <div class="row">
                        <div class="col-12">
                    <div  style="display: flex;float: right;margin-bottom: 3%;">

                        <div *ngFor="let item of users">
                        <img *ngIf="item.user_img != null"  style="width:50px;height: 50px;" src="{{http.imageURL}}{{item.user_img}}" onerror="this.src='assets/image/user.svg'"

    class="rounded-circle iconAction">
                    </div>
                </div>
                        </div>
                        <div class="col-12" style="text-align: right;">
                            <button (click)="adduser();" class="btn btn-bg btn-primary app-bg  semiBold-font add-user" data-toggle="modal" data-target="#userModal"
                            >Add New User</button>
                    <button type="button" class="btn btn-secon-bg btn-primary app-bg add-project semiBold-font" data-toggle="modal" (click)="mapusers()" data-target="#mapuserModal"
                    >Map User</button>

                    <button type="button" *ngIf="users != ''" class="btn btn-secon-bg btn-primary app-bg add-cate semiBold-font" data-toggle="modal" data-target="#userDetailModal"
                    (click)="addModal()">View  {{ users.length }} Users<i class="fa fa-arrow-right"></i></button>

            </div>
            </div>
                </div>
            </div>
                </div>

                <hr>
            <div *ngIf="categoryMain">



            <div class="row">
                <div class="col-md">
                   <span class="semiBold-font">Categories</span>
                </div>
                <!-- <div class="col-md">
                    <button type="button" class="btn btn-bg btn-primary btnAddRef" data-toggle="modal" data-target="#addCategoryModal"
                    (click)="addModal()">Add Category</button>
                </div> -->
            </div>

            <div class="categoryContent light-font">
                <p *ngIf="categoryList == ''" class="text-center">No Categories available</p>
                <div class="row" *ngIf="categoryList != ''">
                    <div class="col-md-12" *ngFor="let category of categoryList" >
                        <div class="row categoryCol" style="margin-right: 30px;" (click)="showUsers(category)">

 <div class="col-md-6">
                            <p class="semiBold-font">{{ category.category_name }}</p>
                        </div>
                            <div class="col-md-6"  style="text-align: right;">
                                <p class="semiBold-font">{{ category.usersCount }} Users</p>
                                

                                <!-- <div *ngFor="let item of category.usersList" >
                            <img *ngIf="item.user_img != null"  style="width:50px;height: 50px;margin-top: -2%;" src="{{http.imageURL}}{{item.user_img}}" onerror="this.src='assets/image/user.svg'"
                            class="rounded-circle iconAction">
                        </div> -->
                        </div>
                        </div>
                            <!-- <p class="iconAction"><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteAgent(category.id)"></i></p>
                            <p class="iconAction"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#addCategoryModal"
                                (click)="editCategory(category)"></i></p> -->
                                
                        <a type="button" class="close" data-dismiss="modal" (click)="removeCat(category)" style="margin-top:-50px; margin-right: -10px;"><i class="fa fa-trash"></i></a>
                        </div>

                        
                    </div>
                </div>
            </div>



            <div *ngIf="userMain">
                <div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active semiBold-font" id="info-tab" data-toggle="pill" href="#info"
                                role="tab" aria-controls="pills-home" aria-selected="true">Info</a> </li>
                        <li class="nav-item" (click)="getDocuments()"> <a class="nav-link semiBold-font" id="document-tab" data-toggle="pill" href="#documents"
                                role="tab" aria-controls="pills-home" aria-selected="true">Documents</a> </li>
                        </ul>
                 </div>
                 <div class="tab-content" id="pills-tabContent p-3">
                 <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="tab-container">
                        <div class="main">

  <div class="row">

                                <span class="semiBold-font">
                                    Description
                                </span>
                                </div>
                                <div class="row light-font" style="padding-top: 15px;">
                                <p>{{selectedCategory.description}}</p>
                    </div>
                                <!-- </div> -->
                            <!-- </div> -->

                        </div>

                 </div>
                 </div>

                 <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="document-tab">
                    <div class="tab-container">
                        <div class="main">

                            <p *ngIf="documents == ''" class="text-center light-font">No Documents Available</p>

                            <div class="card-columns full-width" style="column-count: 1;border-radius: 10px;" >
                                <div class="gymDsgn">
                                    <div class="row">
                                        <div class="col-md-4" *ngFor="let item of documents">
                                            <div class="dashCard doc">

 <div class="row">

                                                <img style="width:30% !important;" (click)="viewDocument(item)" data-toggle="modal" data-target="#viewDocsModal" src="assets/image/{{item.ext_img}}.svg" onerror="this.src='assets/image/txt.svg'" />
                                                 <div class="info" (click)="viewDoc(item)" data-toggle="modal" data-target="#viewDocModal">
                                                 <i class="fa fa-info secondry-color " aria-hidden="true" ></i>
                                                </div>
                                                 <div class="col-sm-10" style="display: inline-flex;" (click)="viewDocument(item)" data-toggle="modal" data-target="#viewDocsModal">
                                                    <div class="semiBold-font">{{item.file_name}}</div>


                                                </div>
                                                <div class="col-sm-2" >
                                                    <a  class="secondry-color light-font" style="padding-left: 10%;float: right;" target="_blank" href="{{http.imageURL}}{{item.file}}" download=""  ><i class="fa fa-download secondry-color" aria-hidden="true"></i></a>

                                                </div>
                                                <div class="col-sm-12">
                                                    <a  class="secondry-color light-font" (click)="showComments(item)" ><i class="fa fa-commenting secondry-color" aria-hidden="true"></i>  {{item.commentsCount}}  Comments</a>
                                                </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- </div> -->
                 </div>


 </div>
                 <div class="files">
                    <button  class="btn btn-bg btn-primary app-bg semiBold-font add-files" data-toggle="modal"  data-target="#uploadModal"> <i class="fa fa-plus"></i></button>
                   </div>
                </div>
                 </div>


        </div>
    </div>
    </div>
    <div class="modal fade" #mapuserModal id="mapuserModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="color: black;">
                <div class="row" style="padding: 5%;">
                    <div class="col-md-6">
                    <span class="semiBold-font">Add User to Category</span>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
               </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form [formGroup]="mapUserForm">


 <div class="row">
                            <div class="col-lg-6">
                                <span class="full-width f-small">User Roles</span>

                                    <select class="form-control  br-2 wth-80" [(ngModel)]="role_id" placeholder="Select User" (change)="getUsers($event)" >
                                        <option selected disabled [value]="null"></option>
                                        <option *ngFor="let roles of userRolesList" [value]="roles.role_id">{{ roles.role
                                            }}</option>
                                    </select>
                                <!-- <div *ngIf="frmUser.username.hasError('required') && frmUser.username.touched" class="font-italic error-box">
                                    <small>Please select the User Name</small>
                                </div> -->

                                    <!-- <span class="full-width f-small required-field">User Name</span>

                                    <ng-multiselect-dropdown  class="form-control  wth-80" style="padding:0px;border:none;"
                                         [placeholder]="'Select users to map'"
                                          [settings]="dropdownSettings"
                                          [data]="userList"
                                          [(ngModel)]="selectedItems"
                                          (onSelect)="onItemSelect($event)"
                                          (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                <div *ngIf="frmUser.username.hasError('required') && frmUser.username.touched" class="font-italic error-box">
                                    <small>Please select the User Name</small>
                                </div> -->
                            </div>
                            <div class="col-lg-6" style="border: 1px solid gray;
                            border-radius: 10px;
                            padding-left: 4em;">
                            <div *ngIf="userList == ''">No users found</div>
                                <div *ngFor="let data of userList; let i=index">
                                    <label>
                                      <input type="checkbox" [value]="data.user_id" (change)="onCheckboxChange($event)"/>
                                      {{data.name}} - {{data.prof}}
                                    </label>
                                  </div>

                            </div>
                        </div>

                    </form>

 <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-bg mt-3 br-2  width-45 semiBold-font app-color"
                            (click)="mapuserSubmit()">Add</button>
                        <!-- <button type="submit" data-dismiss="modal" #closeModal class="btn btn-primary btn-secon-bg mt-3 br-2 width-45 text-fnt80 app-color">Cancel</button> -->
                        <!-- data-dismiss="modal" -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" #userDetailModal id="userDetailModal"  *ngIf="userMain">
        <div class="modal-dialog">
            <div class="modal-content" style="color: black;">
                <div class="row" style="padding: 5%;">
                    <div class="col-md-6">
                        <p class="semiBold-font">Category -<span class="secondry-color">{{selectedCategory.category_name}}</span></p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
               </div>


                <!-- Modal body -->
                <div class="modal-body">

 <div class="row">

                    <div class="col-sm-12"  *ngFor="let user of users">
                        <div>
                        <img style="width:50px;height: 50px;" src="{{http.imageURL}}{{user.user_img}}" onerror="this.src='assets/image/user.svg'"
                            class="float-left rounded-circle">
                    </div>
                    <div style="padding-left:4em;padding-top:0.5em">
                        <div  class="semiBold-font">{{user.name}}</div>
                        <p class="light-font">{{user.prof}}</p>
                        <p class="light-font">{{user.mobile_no}}</p>
                        <!-- <div class="userCount">
                            <a href="" data-toggle="modal" (click)="mapusers()" data-target="#mapuserModal">{{projectDetails.userCount}} Users</a>
                        </div> -->
                    </div>
                    <hr>
                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" #addCategoryModal id="addCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content" style="color: black;">
                    <div class="row" style="padding: 5%;">
                        <div class="col-md-6">
                            <span class="semiBold-font">Add Categories to Project</span>
                         </div>
                        <div class="col-md-6">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                   </div>

                <!-- Modal body -->
                <div class="modal-body padrightleft">
                    <form [formGroup]="addCategoryForm">

 <!-- <div class="form-group">
                            <select class="form-control  br-2 wth-80" [(ngModel)]="project_id" formControlName="projectname">
                                <option selected disabled *ngFor="let project of projectList" [ngValue]="project.project_id">{{ project.project_name
                                    }}</option>
                            </select>
                            <div *ngIf="(frm.projectname.hasError('required') || frm.projectname.hasError('pattern')) && frm.projectname.touched"
                                class="font-italic error-box"><small>Please Select Project Name</small></div>
                        </div> -->
                        <div class="form-group">
                            <span class="full-width f-small required-field">Select Category</span>
                            <select class="form-control  br-2 wth-80"  formControlName="categoryname">
                                <option selected [value]="null">Select Category</option>
                                <option *ngFor="let cat of categoriesList" [ngValue]="cat.category_id">{{ cat.category_name}}</option>
                            </select>
                            <div *ngIf="(frmCat.categoryname.hasError('required') || frmCat.categoryname.hasError('pattern')) && frmCat.categoryname.touched"
                                class="font-italic error-box"><small>Please select Category Name</small></div>
                        </div>
                        <!-- <div class="form-group">
                            <input type="number" class="form-control" formControlName="unit" placeholder="Quantity">
                            <div *ngIf="(frm.unit.hasError('required') || frm.unit.hasError('pattern')) && frm.unit.touched"
                                class="font-italic error-box"><small>Please enter Quantity</small></div>
                        </div> -->
                    </form>
                    <div class="text-center">


<div class="row">
                            <div class="col-md">
                                <button type="submit" class="btn btn-bg btn-primary mt-3 br-2 mr-5 full-width semiBold-font"
                                    (click)="addCategory()">Add</button>
                            </div>
                            <!-- <div class="col-md">
                                <button type="submit" data-dismiss="modal" #closeModal class="btn btn-bg btn-primary mt-3 br-2 mr-5 full-width text-fnt80">Cancel</button>
                            </div> -->
                        </div>
                        <!-- data-dismiss="modal" -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" #uploadModal id="uploadModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="color: black;">

                    <div class="row" style="padding: 5%;">
                        <div class="col-md-6">
                            <span class="semiBold-font">Add Documents</span>
                         </div>
                        <div class="col-md-6">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                   </div>


                <!-- Modal body -->
                <div class="modal-body">
                    <form [formGroup]="uploadForm">

 <div class="row">
                            <div class="col-lg-6">

                                    <!-- <div class="input-group-prepend wth-50"> -->
                                    <span class="full-width f-small required-field">Upload File</span>
                                    <!-- </div> -->
                                    <!-- <input type="text" class="form-control addGym br-2 wth-80" formControlName="userType"> -->
                                    <input type="file" class="form-control f-small br-2 wth-80 uploaddocs"  id="uploaddocs" formControlName="filename" (change)="fileChangeEvent($event)" />
                                <div *ngIf="frmUpload.filename.hasError('required') && frmUpload.filename.touched" class="font-italic error-box">
                                    <small>Please select a File</small>
                                </div>
                            </div>


                                <div class="col-lg-6">

                                        <!-- <div class="input-group-prepend wth-50"> -->
                                        <span class="full-width f-small required-field">Title</span>
                                        <!-- </div> -->
                                        <!-- <input type="text" class="form-control addGym br-2 wth-80" formControlName="userType"> -->

                                        <input type="text" class="form-control f-small br-2 wth-80" formControlName="title">

                                    <div *ngIf="frmUpload.title.hasError('required') && frmUpload.title.touched" class="font-italic error-box">
                                        <small>Please enter title</small>
                                    </div>
                                </div>

                        </div>


 <div class="row padrightleft">
                            <!-- <div class="col-lg-6"> -->

                                    <!-- <div class="input-group-prepend wth-50"> -->
                                    <span class="full-width f-small required-field">Description</span>
                                    <!-- </div> -->
                                    <!-- <input type="text" class="form-control addGym br-2 wth-80" formControlName="userType"> -->
                                    <!-- <select class="form-control  br-2 wth-80" formControlName="username">
                                        <option selected disabled [value]="null"></option>
                                        <option *ngFor="let user of userList" [ngValue]="user.user_id">{{ user.name
                                            }}</option>
                                    </select> -->

 <textarea type="text" class="form-control f-small br-2 wth-80" formControlName="description"></textarea>

                                <div *ngIf="frmUpload.description.hasError('required') && frmUpload.description.touched" class="font-italic error-box">
                                    <small>Please enter description</small>
                                </div>
                            </div>


                    </form>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-bg mt-3 br-2  width-45 semiBold-font app-color"
                            (click)="uploadSubmit()">Upload</button>
                        <!-- <button type="submit" data-dismiss="modal" #closeModal class="btn btn-primary btn-secon-bg mt-3 br-2 width-45 text-fnt80 app-color">Cancel</button> -->
                        <!-- data-dismiss="modal" -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" #viewDocModal id="viewDocModal" *ngIf="!docViewer">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="color: black;">

                    <div class="row" style="padding: 5%;">
                        <div class="col-md-6">
                            <span class="semiBold-font">{{selectedDoc.file_name}}</span>
                         </div>
                        <div class="col-md-6">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                   </div>

                <!-- Modal body -->
                <div class="modal-body" style="margin-left: 5%;">
                    <div class="dashCard" >

  <div class="row descript" style="display: block;">
                                <h6 class="semiBold-font">Description : </h6>
                                <p class="light-font" style="padding-top: 10px;">{{selectedDoc.description}}</p>
                            </div>

                        </div>
                        <div class="row " style="display: block;">
                            <h6 class="light-font">Added by : {{selectedDoc.name}}</h6>
                            <h6 class="light-font">Uploaded on : {{selectedDoc.created_at | date }}</h6>

                        </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewDocsModal" *ngIf="docViewer">
        <div class="modal-dialog modal-lg"  style="max-width: 90% !important;">
            <div class="modal-content" style="color: black;">

                    <div class="row" style="padding: 2%;">
                        <div class="col-md-6">
                            <span class="semiBold-font">{{selectedDoc.file_name}}</span>
                         </div>
                        <div class="col-md-6">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                   </div>

                <!-- Modal body -->
                <div class="modal-body" >

 <div class="dashCard" >

                        <div class="row" >
                            <div class="col-md-12">

                            <div class="profileimage" *ngIf="selectedDoc.ext_img == 'pdf' || selectedDoc.ext_img == 'docx' || selectedDoc.ext_img == 'doc' || selectedDoc.ext_img == 'xls' || selectedDoc.ext_img == 'xlsx' || selectedDoc.ext_img == 'ppt'" >
                                <ngx-doc-viewer url="https://demo.emeetify.com:81/{{selectedDoc.file}}" viewer="google" style="width:100%;height:75vh;"></ngx-doc-viewer>


                                </div>
                            <div class="profileimage" style="text-align: center;" *ngIf="selectedDoc.ext_img == 'png' || selectedDoc.ext_img == 'jpg' || selectedDoc.ext_img == 'jpeg' || selectedDoc.ext_img == 'svg'">
                                <img style="width:auto;height: 50vh;" for="img"  src="https://demo.emeetify.com:81/{{selectedDoc.file}}"
                                    onerror="this.src='assets/image/not-found.jpg'" alt="Profile image">
                            </div>
                            </div>
                        </div>


                        </div>



                </div>
            </div>
        </div>
    </div>


  <div class="modal fade" #closeModal id="userModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="color: black;">

                    <div class="row" style="padding: 5%;">
                        <div class="col-md-6">
                            <span class="semiBold-font">Add New User</span>
                         </div>
                        <div class="col-md-6">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                   </div>
                <div class="modal-header r-border" style="padding: 0%;">

                <div class="row full-width">
                    <div class="col-md-7">
                        <div class="profileimage">
                            <input type="file" style="float:right;" id="uploadImage" (change)="fileChangeEvent($event)" />
                            <img class="rounded-circle" #img style="float:right;" width="80px" height="80px"
                            onerror="this.src='assets/image/user.svg'"  [src]="images" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="imgCropDisplay">
                            <image-cropper *ngIf="showImg" [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true" [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png"
                                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="cropBtn" *ngIf="showImg">
                            <button class="btn-primary btn-secon-bg br-2 text-fnt80 app-color" (click)="saveImage()">Crop</button>
                        </div>
                    </div>
                </div>

            </div>



 <!-- Modal body -->
                <div class="modal-body" style="margin-left: 5%;">
                    <form [formGroup]="addUserForm">

                        <div class="row">
                            <div class="col-lg-6">
                                <span class="full-width f-small">User Name</span>
                                <input type="text" class="form-control f-small br-2 wth-80" [(ngModel)]="userData.userName" formControlName="userName">

                                <div *ngIf="frm.userName.hasError('required') && frm.userName.touched" class="font-italic error-box">
                                    <small>Please enter the user name</small>
                                </div>
                        </div>

                            <div class="col-lg-6">

                                        <span class=" full-width f-small">Email id</span>

                                    <input type="email" class="form-control f-small br-2 wth-80" [(ngModel)]="userData.email" formControlName="email">

                                <div *ngIf="(frm.email.hasError('required') || frm.email.hasError('pattern')) && frm.email.touched"
                                    class="font-italic error-box">
                                    <small>Please enter the valid email id</small>
                                </div>

                        </div>
                        </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <span class="full-width f-small">User Type</span>
                                    <select class="form-control f-small br-2 wth-80" [(ngModel)]="userData.userType" formControlName="userType">
                                        <option selected disabled [value]="null"></option>
                                        <option *ngFor="let roles of userRolesList" [ngValue]="roles.role_id">{{ roles.role
                                            }}</option>
                                    </select>
                                <div *ngIf="frm.userType.hasError('required') && frm.userType.touched" class="font-italic error-box">
                                    <small>Please select the User Type</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                     <span class="full-width f-small">Mobile number</span>


 <input type="tel" class="form-control f-small br-2 wth-80" [(ngModel)]="userData.phoneno" maxlength="10"
                                        formControlName="phoneno">

                                <div *ngIf="frm.phoneno.hasError('required') && frm.phoneno.touched" class="font-italic error-box">
                                    <small>Please enter the valid mobile number</small>
                                </div>
                                <div *ngIf="frm.phoneno.hasError('pattern')" class="font-italic error-box">
                                    <small>Mobile Number must contain numbers only</small>
                                </div>
                                <div *ngIf="frm.phoneno.hasError('minlength')" class="font-italic error-box">
                                    <small>Mobile number should be min 10</small>
                                </div>

                        </div>
                           </div>





                        <div class="row" >
                            <div class="col-lg-6">

                                <span class=" full-width f-small">State</span>

                        <select class="form-control f-small br-2 wth-80" formControlName="state" [(ngModel)]="userData.state" (change)="getCities($event)">
                            <option selected disabled [value]="null"></option>
                            <option *ngFor="let state of stateList" [value]="state.code">{{state.name}}</option>
                        </select>
                        <div *ngIf="frm.state.hasError('required') && frm.state.touched"
                            class="font-italic error-box">
                            <small>Please enter the State name</small>
                        </div>
                    </div>

 <div class="col-lg-6"  >
                                <span class="full-width f-small ">New Password</span>

                                    <input type="password"  class="form-control f-small br-2 wth-80" [(ngModel)]="userData.pass" formControlName="pass">

                                <div *ngIf="frm.pass.hasError('required') && frm.pass.touched" class="font-italic error-box"
                                    style="margin-left: 1em;">
                                    <small>Please enter the New password</small>
                                </div>
                               </div>
                            </div>


                        <div class="row" >
                            <div class="col-lg-6">

                                <span class=" full-width f-small">City</span>

                            <select class="form-control f-small br-2 wth-80" formControlName="city" [(ngModel)]="userData.city" >
                                <option selected disabled [value]="null"></option>
                                <option *ngFor="let city of cityList" [value]="city.name">{{city.name}}</option>
                            </select>
                        <div *ngIf="frm.city.hasError('required') && frm.city.touched" class="font-italic error-box">
                            <small>Please enter the City name</small>
                        </div>
                    </div>
                    <div class="col-lg-6" >
                        <span class=" full-width f-small">Confirm New Password</span>

                            <input type="password"  class="form-control f-small br-2  wth-80" [(ngModel)]="userData.cpass" formControlName="cpass">

                        <div *ngIf="frm.cpass.hasError('required') && frm.cpass.touched" class="font-italic error-box"
                            style="margin-left: 1em;">
                            <small>Please enter the Confirm New Password</small>
                        </div>
                        <div *ngIf="userData.pass && (userData.cpass != userData.pass) && frm.cpass.touched" class="font-italic error-box" style="margin-left: 1em;">
                            <small>New Password and Confirm New Passwords must be same.</small>
                        </div>
                    </div>


  </div>



                        <div class="row">
                            <div class="col-lg-6">
                                <span class="full-width f-small">Area</span>

                                       <input type="text" class="form-control f-small br-2 wth-80" [(ngModel)]="userData.area" formControlName="area">

                                   <div *ngIf="frm.area.hasError('required') && frm.area.touched" class="font-italic error-box">
                                       <small>Please enter the Area name</small>
                                   </div>
                               </div>
                            <div class="col-lg-6">
                             <span class=" full-width f-small">Date of Anniversary</span>

                                <input type="date" class="form-control f-small br-2  wth-80" [(ngModel)]="userData.annDate" placeholder="Select Date" formControlName="annDate"/>
                                </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <span class=" full-width f-small">Date of Birth</span>

                                  <input type="date" class="form-control f-small  br-2  wth-80" [(ngModel)]="userData.dob" placeholder="Select DOB" formControlName="dob"/>

                              <div *ngIf="(frm.dob.hasError('required') || frm.dob.hasError('pattern')) && frm.dob.touched"
                                  class="font-italic error-box">
                                  <small>Please enter the DOB</small>
                              </div>

                      </div>
                    </div>



                    </form>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-bg mt-3 br-2 mr-5 width-45 semiBold-font app-color"
                            (click)="adduserSubmit()">ADD</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>